
* {
    margin: 0;
    padding: 0;
    font-family: "Trispace", sans-serif;
    box-sizing: border-box;
}

:root {
    --jupiterColor: linear-gradient(0.25turn, #5C4033, #eb4d04, #8a4b4b, #5C4033, #5C4033);
    --saturnColor: darkolivegreen;
    --uranusColor: gray;
    --neptuneColor: black;
    --mercuryColor:  lightcoral;
    --venusColor: darksalmon;
    --earthColor: green;
    --marsColor: darkgoldenrod;
    --mainColor: orange;
    --mainBGcolor: #0B132B;
    --mainWhiteColor: blanchedalmond;
}

body {
    background: linear-gradient(0.25turn, #040c24,#0a205a, #3a4c7a, #0a205a, #040c24);
}



#title, nav, #search, footer, .planets, #galaxy {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {

    background-color: var(--mainBGcolor);
    color: var(--mainColor);
}

nav {
    gap: 1.5rem;
    padding: 10px;
    background-color: var(--mainBGcolor)
}

li {
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: var(--mainColor);
    font-size: 13px;
    font-weight: 600;
}

#search {
    padding: 20px;
    color: var(--mainBGcolor);
    margin-top: 30px;
    gap: 1rem;
}

#btn {
    min-width: 50px;
    height: 40px;
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    background-color: var(--mainWhiteColor)

}
#btn:hover {
    scale: 1.1;
    transition: transform .25s ease-in-out;

}

#results {
    display: flex;
    justify-content: flex-end;
    padding-right:  20px;
    color: var(--mainColor);
    font-size: 50px;
    z-index: 10;
}


/* API-RUTAN */


#apifetch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

#api {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 400px;
    max-width: 900px;
    background-color: rgba(0,0,0,.5);
    color: var(--mainColor);
    padding: 20px;
    border-radius: 20px;  
}
}

input {
    min-width: 200px;
    height: 30px;
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    background-color: var(--mainWhiteColor)
}

label {
    margin-top: 10px;
    margin-right: 10px;
}

/* PLANETER I BODY */

#main {
    display: flex;
    justify-content: space-around
}

#galaxy {
gap: 2rem;
margin: 10px;
max-height: 500px;
min-width: 400px;

}

.planets {
    background-color: #696a6e;
    border-radius: 50%;
    font-size: 10px;
    box-shadow: 5px 5px 50px white;
    transition: transform .25s ease-in-out;
    border: none;
    cursor: pointer;
}

.planets:hover {
    transform: scale(1.1);
}

#merkurius:hover,
#venus:hover,
#jorden:hover,
#mars:hover {
    transform: scale(2.5);
}

#sun {
    width: 1180px; /* Adjust as needed */
    height: 1180px; /* Adjust as needed */
    position: absolute;
    z-index: -1;
    top: 90%; /* Position it vertically centered */
    left: -10%; /* Position it horizontally centered */
    transform: translate(-50%, -50%); /* Center it precisely */
    background-color: var(--mainColor);
}
#jorden {
    width: 20px;
    height: 20px;
    background-color: var(--earthColor)
}
#merkurius {
    width: 6.6px;
    height: 6.6px;
    background-color: var(--mercuryColor)
}
#venus {
    width: 19px;
    height: 19px;
    background-color: var(--venusColor)
}
#mars {
    width: 10px;
    height: 10px;
    background-color: var(--marsColor)
}
#jupiter {
    width: 220px;
    height: 220px;
    background: var(--jupiterColor)
}

#saturnus {
    width: 180px;
    height: 180px;
    background-color: var(--saturnColor)
}
#uranus {
    width: 80px;
    height: 80px;
    background-color: var(--uranusColor)
}
#neptunus {
    width: 79px;
    height: 79px;
    background-color: var(--neptuneColor);
}

/* FOOTER */

footer {
    background-color: #0B132B;
    color: var(--mainColor);
    font-size: 10px;
    width: 100vw;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
}