
* {
    margin: 0;
    padding: 0;
    font-family: "Trispace", sans-serif;

}

body {
    background: linear-gradient(0.25turn, #040c24,#0a205a, #3a4c7a, #0a205a, #040c24);

}

#title {
    display: flex;
    justify-content: center;
    background-color: #0B132B;
    color: orange;

}

nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 10px;
    background-color: #0B132B;
    border-bottom: 2px solid #696a6e;
}

li {
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: orange;
    font-size: 13px;
    font-weight: 600;
}





#search {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #0B132B;
    margin-top: 30px;
}

#results {
    display: flex;
    justify-content: end;
    padding-right:  20px;
    color: orange;
    font-size: 50px;
}


/* API-RUTAN */


#apifetch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;


#api {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 300px;
    max-width: 600px;
    background-color: rgba(0,0,0,.5);
    color: orange;
    padding: 20px;
    border-radius: 20px;  
}
}



input {
    min-width: 300px;
    height: 30px;
    border-radius: 15px;
    border: none;
    padding: 5px;
    background-color: #0B132B;
}

label {
    margin-top: 10px;
    margin-right: 10px;
}









/* PLANETER I BODY */


#galaxy {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
margin: 10px;
min-height: 500px;
min-width: 400px;
}

.planets {
    background-color: #696a6e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    box-shadow: 5px 5px 50px white;
    transition: transform .25s ease-in-out;
    border: none;
    cursor: pointer;
}

.planets:hover {
    transform: scale(1.1);
}

#merkurius:hover,
#venus:hover,
#jorden:hover,
#mars:hover {
    transform: scale(2.5);
}

#sun {
    width: 2180px; /* Adjust as needed */
    height: 2180px; /* Adjust as needed */
    position: fixed;
    z-index: -1;
    top: -103%; /* Position it vertically centered */
    left: 50%; /* Position it horizontally centered */
    transform: translate(-50%, -50%); /* Center it precisely */
    background-color: orange;
}
#jorden {
    width: 20px;
    height: 20px;
    background-color: green;
}
#merkurius {
    width: 6.6px;
    height: 6.6px;
    background-color: lightcoral;
}
#venus {
    width: 19px;
    height: 19px;
    background-color: darksalmon;
}
#mars {
    width: 10px;
    height: 10px;
    background-color: darkgoldenrod;
}
#jupiter {
    width: 220px;
    height: 220px;
    background-color: darkcyan;
}
#saturnus {
    width: 180px;
    height: 180px;
    background-color: darkolivegreen;
}
#uranus {
    width: 80px;
    height: 80px;
    background-color: gray;
}
#neptunus {
    width: 79px;
    height: 79px;
    background-color: lightblue;
}








/* FOOTER */

footer {
    background-color: #0B132B;
    color: orange;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
}